@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Slider{
    <div class="header_slide">
        <div class="header_bottom_left">
            <div class="categories">
                @{Html.RenderAction("Category", "Home");}
            </div>
        </div>

        <div class="header_bottom_right">
            <div class="slider">
                @{Html.RenderAction("Slide", "Home");}
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>
}

<div class="content">
    @{Html.RenderAction("TiviFeatures", "Product");}

    @{Html.RenderAction("AirConditionFeatures", "Product");}

    @{Html.RenderAction("WashingMachineFeatures", "Product");}

    @{Html.RenderAction("FridgeFeatures", "Product");}
</div>
