@{
    ViewBag.Title = "SuccessFull";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section jsFooter{     
<script src="~/AssetsClient/js/Controller/SuccessPay.js"></script>
}

<div class="content">
    <div class="section group">
        <h2>Cảm ơn quý khách đã tin tương và sử mua sắm tại cửa hàng!</h2>
        <button id="btnBackToShop" class="btn btn-primary">Mua sắm tiếp</button>
    </div>
</div>
